services:
  - name: mybilling-web
    type: web
    plan: free
    region: frankfurt
    runtime: docker
    repo: https://github.com/Mrrll/MyBilling.git
    branch: master
    dockerfilePath: laravel/Dockerfile
    autoDeploy: true
    healthCheckPath: /healthz

    dockerCommand: >
      bash -lc "set -e; cd /app;
      mkdir -p storage/framework/{cache,sessions,views} bootstrap/cache;
      php -S 0.0.0.0:$PORT -t public public/index.php &
      sleep 1;
      php artisan optimize:clear || true;
      php artisan migrate --force || true;
      php artisan queue:table || true;
      php artisan migrate --force || true;
      php artisan storage:link || true;
      php artisan config:cache || true;
      php artisan route:cache || true;
      php artisan view:cache || true;
      exec php artisan queue:work --tries=1 --sleep=1 --backoff=3"

    envVars:
      - fromGroup: mybilling-prod
      - key: DB_HOST
        fromDatabase: { name: mybilling-pg, property: host }
      - key: DB_PORT
        fromDatabase: { name: mybilling-pg, property: port }
      - key: DB_DATABASE
        fromDatabase: { name: mybilling-pg, property: database }
      - key: DB_USERNAME
        fromDatabase: { name: mybilling-pg, property: user }
      - key: DB_PASSWORD
        fromDatabase: { name: mybilling-pg, property: password }
